@import model.Hotel
@(destination: String, radius: String, searchResults: Seq[Hotel])(webJarAssets: WebJarAssets)

@gmapsLink(hotel: Hotel) = {
    import hotel._, coordinates._
    s"http://maps.google.com/?q=$name near $lat,$long"
}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Hotels within @radius kilometers of @destination</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(webJarAssets.locate("css/bootstrap.css"))'>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("jquery.js"))" type="text/javascript"></script>
        <script src="@routes.WebJarAssets.at(webJarAssets.locate("js/bootstrap.js"))" type="text/javascript"></script>
    </head>
    <body>
        <div id="container">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Images</th>
                </tr>
                @for(hotel <- searchResults) {
                    <tr>
                        <td>@hotel.name</td>
                        <td><a href="@gmapsLink(hotel)">Map</a></td>
                        <td>
                        @for(image <- hotel.images) {
                            <img height="200px" src="@image" />
                        }
                        </td>
                    </tr>
                }
            </table>
        </div>

        @scalajs.html.scripts("client", routes.Assets.versioned(_).toString, name => getClass.getResource(s"/public/$name") != null)
    </body>
</html>